# Copy to local_credentials.py and fill in values (local_credentials.py is gitignored)

TWILIO_ACCOUNT_SID = ""
TWILIO_AUTH_TOKEN  = ""
MEETLEO_EMAIL      = ""
MEETLEO_PASSWORD   = ""
PDL_API_KEY        = ""
